*{
    margin: 0%;
    padding: 0%;
}

#top-menu{
    display: flex;
    justify-content: space-between;
    background-color: #0D1117;
    height: 120px;
}
.img-inc-fundo{
    width: 200px;
    margin-left: 50px;
}

.nav-top-menu{
    display: flex;
}

.links-top-menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-right: 50px;
    align-self: center;
    font-family: "Poppins", sans-serif;
}

.a-link-top{
    text-decoration: none;
    color: #E6EDF3;
}

.link-top .a-link-top{
    transition-delay: 0.1s;
}

.link-top .a-link-top:hover{
    color: #3DDC97;
}

.hr-top{
    background-color: #3DDC97;
    height: 1px;
    border: none;
}

.img-botao-suspenso{
    display: flex;
    position: fixed;
    width: 50px;
    right: 20px;
    bottom: 20px;
    border-radius: 999px;
}

#main-port{
    font-family: "Inter", sans-serif;
    background-color: #0D1117;
}

.img-back{
    background-image: url(./imgs/Foto\ inicial\ fundo\ portfolio.jpg);
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    text-align: center;
}

.p-text-mid-img{
    color: white;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: x-large;
    cursor: default;
}

.h1-text-mid-img{
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 50px;
    cursor: default;
}

.p2-text-mid-img{
    color: white;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: x-large;
    cursor: default;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;    
    list-style: none;
}

.icon-linkedin{
    color: white;
    font-size: 25px;
}

.icon-github{
    color: white;
    font-size: 25px;
}

.icon-email{
    color: white;   
    font-size: 25px;
}

.social-links::before{
    content: '_________________';
    color: white;
}

.social-links::after{
    content: '_________________';
    color: white;
}

/* Utilizar depois

.hr-inc-sobre{
    background-color: #3DDC97;
    height: 1px;
    width: 1200px;
    border: none;
    margin: 15px 0 0 150px;
}

*/

#sobre{
    height: 600px;
    display: flex;
    margin-top: 20px;
}

.foto-sobre{
    width: 400px;
    margin: 10px 200px 0 50px;
}

.text-sobre{
    color: white;
    margin: 60px 20px 0 0;

}

.h1-sobre{
    font-size: xx-large;
    color: #3DDC97;
    font-family: "Inter", sans-serif;
}

.p-sobre{
    margin-top: 10px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: large;
    width: 700px;
}

.mark-p-sobre{
    background: none;
    color: #3DDC97;
}

.section-hardsk{
    margin-top: 15px;
}

.ul-hardsk{
    list-style: none;
    display: flex;
    gap: 10px;
}

.p-hardsk1{
    border: 7px solid rgb(229, 54, 5);
    background-color: rgb(229, 54, 5);
    border-radius: 30px;
    width: 40px;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
}

.p-hardsk2{
    border: 7px solid rgb(19, 115, 188);
    background-color: rgb(19, 115, 188);
    border-radius: 30px;
    width: 30px;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
}

.p-hardsk3{
    border: 7px solid rgb(211, 211, 23);
    background-color: rgb(211, 211, 23);
    border-radius: 30px;
    width: 100px;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
}