*{
    margin: 0%;
    padding: 0%;
}

html{
    scroll-behavior: smooth;
}

.hr-personalizada{
    background-color: #3DDC97;
    height: 1px;
    width: 1200px;
    border: none;
    margin: 15px 0 0 150px;
}

#home{
    display: flex;
    justify-content: space-between;
    background-color: #0D1117;
    height: 120px;
}
.img-inc-fundo{
    width: 200px;
    margin-left: 50px;
}

.nav-top-menu{
    display: flex;
}

.links-top-menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-right: 50px;
    align-self: center;
    font-family: "Poppins", sans-serif;
}

.a-link-top{
    text-decoration: none;
    color: #E6EDF3;
}

.link-top .a-link-top{
    transition-delay: 0.1s;
    transition-duration: 1s;
}

.link-top .a-link-top:hover{
    color: #3DDC97;
}

.hr-top{
    background-color: #3DDC97;
    height: 1px;
    border: none;
}

.img-botao-suspenso{
    display: flex;
    position: fixed;
    width: 50px;
    right: 20px;
    bottom: 20px;
    border-radius: 999px;
}

#main-port{
    font-family: "Inter", sans-serif;
    background-color: #0D1117;
}

.img-back{
    background-image: url(./imgs/Foto\ inicial\ fundo\ portfolio.jpg);
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    text-align: center;
}

.p-text-mid-img{
    color: #E6EDF3;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: x-large;
    cursor: default;
}

.h1-text-mid-img{
    color: #E6EDF3;
    font-family: "Inter", sans-serif;
    font-size: 50px;
    cursor: default;
}

.p2-text-mid-img{
    color: #E6EDF3;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: x-large;
    cursor: default;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;    
    list-style: none;
}

.icon-linkedin{
    color: #E6EDF3;
    font-size: 25px;
}

.icon-github{
    color: #E6EDF3;
    font-size: 25px;
}

.icon-email{
    color: #E6EDF3;   
    font-size: 25px;
}

.social-links::before{
    content: '_________________';
    color: #E6EDF3;
}

.social-links::after{
    content: '_________________';
    color: #E6EDF3;
}

/* Utilizar depois

.hr-inc-sobre{
    background-color: #3DDC97;
    height: 1px;
    width: 1200px;
    border: none;
    margin: 15px 0 0 150px;
}

*/

#sobre{
    height: 600px;
    display: flex;
    margin-top: 20px;
}

.foto-sobre{
    width: 400px;
    margin: 10px 200px 0 50px;
}

.text-sobre{
    color: #E6EDF3;
    margin: 60px 20px 0 0;

}

.h1-sobre{
    font-size: xx-large;
    color: #3DDC97;
    font-family: "Inter", sans-serif;
}

.p-sobre{
    margin-top: 10px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: large;
    width: 700px;
}

.mark-p{
    background: none;
    color: #3DDC97;
}

.section-hardsk{
    margin-top: 15px;
}

.ul-hardsk{
    list-style: none;
    display: flex;
    gap: 10px;
}

.p-hardsk1{
    border: 7px solid rgb(229, 54, 5);
    background-color: rgb(229, 54, 5);
    border-radius: 30px;
    width: 40px;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
}

.p-hardsk2{
    border: 7px solid rgb(19, 115, 188);
    background-color: rgb(19, 115, 188);
    border-radius: 30px;
    width: 30px;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
}

.p-hardsk3{
    border: 7px solid rgb(211, 211, 23);
    background-color: rgb(211, 211, 23);
    border-radius: 30px;
    width: 100px;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
}

.button-linkedin-sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    border: 1px solid #3DDC97;
    width: 200px;
    margin-left: 250px;
    border-radius: 30px;
    transition-delay: 0.1s;
    transition-duration: 1s;
    cursor: pointer;
}

.button-linkedin-sobre:hover{
    border: 1px solid #3DDC97;
    background-color: #3DDC97;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.link-button-sobre{
    text-decoration: none;
    color: #e6edf3;
    font-size: x-large;
}

.linkedin-sobre{
    color: #e6edf3;
    font-size: x-large;
}

#Projetos{
    height: 700px;
    color: #0D1117;
    margin-top: 90px;

}

.h1-projetos{
    text-align: center;
    margin-bottom: 90px;
    color: #3DDC97;
    font-family: "Inter", sans-serif;
}

.sections-projetos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    text-align: center;
}

.projeto1{
    width: 400px;
    height: 500px;
    background-color: #0D1117;
    border: 1px solid #3DDC97;
    border-radius: 20px;
}

.h2-projeto1{
    color: #3DDC97;
    margin-top: 20px;
}

.foto-teste-projeto1{
    width: 300px;
    margin: 20px 0 5px 0;
    border-radius: 20px;
}

.ul-projetos-hardsk{
    list-style: none;
    display: flex;
    gap: 3px;
    cursor: default;
}

.projetos-hardsk1{
    border: 7px solid rgb(229, 54, 5);
    background-color: rgb(229, 54, 5);
    border-radius: 30px;
    width: 45px;
    height: 20px;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    margin: 15px 0px 0 50px;
    color: #E6EDF3;
}

.projeto2{
    width: 400px;
    height: 500px;
    background-color: #0D1117;
    border: 1px solid #3DDC97;
    border-radius: 20px;
}

.projetos-hardsk2{
    border: 7px solid rgb(19, 115, 188);
    background-color: rgb(19, 115, 188);
    border-radius: 30px;
    width: 30px;
    height: 20px;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    margin: 15px 0px 0 3px;
    color: #E6EDF3;
}

.projeto3{
    width: 400px;
    height: 500px;
    background-color: #0D1117;
    border: 1px solid #3DDC97;
    border-radius: 20px;
}

.projetos-hardsk3{
    border: 7px solid rgb(211, 211, 23);
    background-color: rgb(211, 211, 23);
    border-radius: 30px;
    width: 100px;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    margin: 15px 0 0 3px;
    color: #E6EDF3;
}

.p-projetos{
    color: #E6EDF3;
    text-align: left;
    width: 300px;
    margin: 15px 0 0 50px;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.buttons-projeto{
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.a-buttons-projetos{
    text-decoration: none;
}

.view-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: 1px solid #3DDC97;
    width: 90px;
    border-radius: 30px;
    transition-delay: 0.1s;
    transition-duration: 1s;
    cursor: pointer;
    color: #E6EDF3;
}

.icons-buttons{
    color: #E6EDF3;
    margin-left: 5px;
}

.view-button:hover{
    border: 1px solid #3DDC97;
    background-color: #3DDC97;
}

.button-github{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: 1px solid #3DDC97;
    width: 100px;
    border-radius: 30px;
    transition-delay: 0.1s;
    transition-duration: 1s;
    cursor: pointer;
    color: #E6EDF3;
}

.button-github:hover{
    border: 1px solid #3DDC97;
    background-color: #3DDC97;
}

#services{
    margin-top: 90px;
    height: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-services{
    color: #3DDC97;
    text-align: center;
    margin-bottom: 40px;
}

.services{
    width: 87%;
    height: 400px;
    margin-top: 40px;
    border: 1px solid #3DDC97;
    border-radius: 30px;
    display: flex;
}

.service1-text-button{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.h2-service1{
    color: #3DDC97;
    font-family: "Inter", sans-serif;
    margin: 20px 0 20px 50px;
}

.p-service1{
    color: #E6EDF3;
    font-family: "M PLUS Rounded 1c", sans-serif;
    margin: 0 0 0 50px;
    width: 80%;
}

.img-service1{
    width: 600px;
    height: 300px;
    border-radius: 20px;
    margin: 50px 50px 0 0;
}

.link-services{
    text-decoration: none;
}

.button-services{
    color: #E6EDF3;
    border: 1px solid #3DDC97;
    border-radius: 20px;
    text-align: center;
    width: 100px;
    padding: 10px;
    margin: 40px 0 0 50px;
    transition-duration: 1s;
    transition-delay: 0.2;
}

.button-services:hover{
    background-color: #3DDC97;
}

.img-service2{
    width: 600px;
    height: 300px;
    border-radius: 20px;
    margin: 50px 0 0 50px;
}

.h2-service2{
    color: #3DDC97;
    font-family: "Inter", sans-serif;
    margin: 20px 0 20px 100px;
}

.p-service2{
    color: #E6EDF3;
    font-family: "M PLUS Rounded 1c", sans-serif;
    width: 80%;
    margin: 0 0 0 100px;
}

.button-services2{
    color: #E6EDF3;
    border: 1px solid #3DDC97;
    border-radius: 20px;
    text-align: center;
    width: 100px;
    padding: 10px;
    margin: 80px 0 0 100px;
    transition-duration: 1s;
    transition-delay: 0.2;
}

.button-services2:hover{
    background-color: #3DDC97;
}
